<div class= 'container'>
    <%= link_to 'GAPTIME', '#',class:'title' %>
    <%= link_to 'ゲストログイン', '#',class:'guest' %>
</div>
<div class= 'wrapper'>
  <div class= 'info1'>
    <%= link_to '業者', pages_trader_path, class:'trader' %>
  </div>
  <div class= 'info2'>
    <%= link_to 'ハウスメーカー', pages_user_path, class:'user' %>
  </div>
</div>
