<% provide(:title, 'ホームページ') %>
<div class= 'container'>
    <%= link_to 'GAPTIME', '#',class:'title' %>
    <%= link_to 'ゲストログイン', '#',class:'guest' %>
</div>
<div class= 'description'>
  <h1>GAPTIMEは隙間時間をなくせます</h1>
  <p>業者は仕事の合間を<br>ハウスメーカーは業者待ちを</p>
</div>
<div class= 'wrapper'>
  <%= link_to pages_trader_path, class: 'link' do %>
    <div class= 'info1'>
      <h1 class= 'trader'>業者</h1>
    </div>
  <% end %>
  <%= link_to pages_user_path, class: 'link' do %>
    <div class= 'info2'>
      <h1 class= 'user'>ハウスメーカー</h1>
    </div>
  <% end %>
</div>
<div class= 'description'>
  <h1>GAPTIMEの使い方</h1>
  <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>
