<% provide(:title, '業者用ページ') %>
<div class= 'section1'>
  <div class= 'info3'>
    <div class= 'wrapper2'>
      <%= image_tag 'trader_icon.png', class: 'trader_icon' %>
      <h1>業者</h1>
    </div>
    <p>新築住宅の現場で頻繁に起こってしまう課題について、<br>
      ANDPADがどのようにご活用いただけるかをご紹介いたします。
    </p>
  </div>
  <div class= 'info3'>
    <div class= 'wrapper2'>
      <%= image_tag 'trader_icon.png', class: 'trader_icon' %>
      <h1>業者</h1>
    </div>
    <p>AAAAAAAAAAAAAAAAAAAAAA<br>
      BBBBBBBBBBBBBBBBBBBB</p>
  </div>
</div>
<div class= 'section2'>
  <div class= 'box box1'>
    <p class= 'label'>課題01</p>
    <p class= 'content'>
      仕事がない<br>
      考え中考え中<br>
  </p>
  </div>
  <div class= 'box box2'>
    <p class= 'label'>課題02</p>
    <p class= 'content'>
      仕事の合間時間<br>
      考察中考察中<br>
    </p>
  </div>
  <div class= 'box box3'>
    <p class= 'label'>課題03</p>
    <p class= 'content'>
      天候による仕事の空き<br>
      思考中思考中<br>
    </p>
  </div>
</div>
<div class= 'section3'>
  <h1>GAPTIMEで解決!</h1>
  <div class= 'a'>
    <p class= 'label'>課題01</p>
    <h1>タイトル</h1>
    <h2>サブタイトル</h2>
  </div>
  <div class= 'a'>
    <p class= 'label'>課題02</p>
    <h1>タイトル</h1>
    <h2>サブタイトル</h2>
  </div>
  <div class= 'a'>
    <p class= 'label'>課題03</p>
    <h1>タイトル</h1>
    <h2>サブタイトル</h2>
  </div>
</div>
