<div class= 'section4'>
  <div class= 'info3'>
    <div class= 'wrapper2'>
      <%= image_tag 'user_icon.png', class: 'user_icon' %>
      <h1>ハウスメーカー</h1>
    </div>
    <p>新築住宅の現場で頻繁に起こってしまう課題について、<br>
      ANDPADがどのようにご活用いただけるかをご紹介いたします。
    </p>
  </div>
  <div class= 'info3'>
    <div class= 'wrapper2'>
      <%= image_tag 'user_icon.png', class: 'user_icon' %>
      <h1>ハウスメーカー</h1>
    </div>
    <p>AAAAAAAAAAAAAAAAAAAAAA<br>
      BBBBBBBBBBBBBBBBBBBB</p>
  </div>
</div>
<div class= 'section5'>
  <div class= 'box box1'>
    <p class= 'label'>課題01</p>
    <p class= 'content'>
      納期が遅れている<br>
      物件はあるが、業者がいない<br>
  </p>
  </div>
  <div class= 'box box2'>
    <p class= 'label'>課題02</p>
    <p class= 'content'>
      物件はあるが、業者がいない<br>
      考察中考察中<br>
    </p>
  </div>
  <div class= 'box box3'>
    <p class= 'label'>課題03</p>
    <p class= 'content'>
      内容内容内容<br>
      思考中思考中<br>
    </p>
  </div>
</div>
<div class= 'section6'>
  <h1>GAPTIMEで解決!</h1>
  <div class= 'a'>
    <p class= 'label'>課題01</p>
    <h1>タイトル</h1>
    <h2>サブタイトル</h2>
  </div>
  <div class= 'a'>
    <p class= 'label'>課題02</p>
    <h1>タイトル</h1>
    <h2>サブタイトル</h2>
  </div>
  <div class= 'a'>
    <p class= 'label'>課題03</p>
    <h1>タイトル</h1>
    <h2>サブタイトル</h2>
  </div>
</div>
