// _header.html.erb
.navbar{
  opacity: 0.9;
}

// index.html.erb
// .toppage {
//   background-image: url('toppage.jpg');
//   opacity: 0.8;
// }
.container{
  width:100%;
  height:800px;
  opacity: 0.8;
  background-image: url('toppage.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}

.moji{
  // background: gray;
  text-align: center;
  margin: 0 300px ;
  padding: 400px 0;
  color: white;
  max-height: 100%
}
